#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em 4rem;
  background-color: #f6f9fc;
  width: 42rem;
  box-sizing: border-box;
}

.form-input-label {
  color: #909db0df;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.form-input {
  font-size: 1rem;
  color: #909db0;
  padding: 0.6rem;
  width: 100%;
  border: 2px solid #909db03f;
  border-radius: 0.25rem;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.05);
}

.form-input::placeholder {
  color: #909db03f;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.form-button {
  background-color: #6773e5;
  font-weight: 700;
  color: white;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  border: none;
}

.form-button:hover {
  background-color: #6773e57f;
}

.form-button:disabled {
  background-color: #0005;
  border: none;
}
